.auth-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.auth-input {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #b5aaff57, #3533CD);
    color: #fff;
    font-size: 1.2rem;
}