.info-section {
    background-color: #1f2b37cd;
    display: flex;
    height: 160px;
    border-radius: 10px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(100% * 4); /* 4 is the number of slides */
}

.content {
    min-width: 100%;
    flex: 1;
    padding: 60px;
    box-sizing: border-box;
}

.content {
    word-wrap: break-word;
    overflow-wrap: break-word;
}



.content h3 {
    padding: 5px;
    text-decoration: underline;
}

.content ol {
    margin-left: 5px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(82, 82, 82);
    border-radius: 30%;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
    z-index: 2;
}

.next {
    right: 10px;
    z-index: 2;
}