.chatbot-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25%;
    height: calc(100vh - 10px);
    background-color: #42425e;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
}

.chat-history {
    position: relative;
    flex: 1;
    overflow-y: auto;
    padding: 0 10px 10px 0;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #42425e;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Chat bubbles */
.chat-bubble {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.chat-bubble.user {
    max-width: 80%;
    align-self: flex-start;
    background-color: #007bff;
    color: white;
}

.chat-bubble.bot {
    max-width: fit-content;
    align-self: flex-start;
    background-color: #2e2e2e;
    color: black;
}

.chat-bubble.bot ul,
ol {
    margin-left: 15px;
}

.chat-input-container {
    display: flex;
    gap: 10px;
}

.chat-input-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    color: #000;
    font-size: 16px;
    resize: none;
    overflow-y: hidden;
    height: 70px;
}


.chat-input:focus {
    outline: none;
    border: 2px solid #007bff;
}

.send-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.hljs {
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
    color: #aad1ff;
}

.send-btn:hover {
    background-color: #0056b3;
}