.chatbot-container {
    position: relative;
    background-color: #1f2b37cd;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    overflow: hidden; /* Hide overflow to avoid scrollbars */
}

/* Chat bubbles */
.chat-bubble {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.chat-bubble.user {
    max-width: 80%;
    align-self: flex-start;
    background-color: #007bff;
    color: white;
}

.chat-bubble.bot {
    max-width: fit-content;
    align-self: flex-start;
    background-color: #5b5b5b;
    color: black;
}

.chat-bubble.bot ul,
ol {
    margin-left: 15px;
}
.hljs {
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
    color: #aad1ff;
}

.copy-btn{
    padding: 5px;
    background-color: grey;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.send-btn:hover {
    background-color: #0056b3;
}


.chatbot-inner {
    display: flex;
    flex-direction: column; /* Stack ChatHistory and ChatInput vertically */
    height: 100%; /* Full height of the resizable box */
    margin-left: 10px;
}
