* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    height: 100vh;
    width: 100vw;
    background-color: rgb(57, 57, 57);
    z-index: -1;
    position: fixed;
    overflow: auto;
}

.background::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/bg-main.jpg');
    background-size: cover;
    opacity: 0.5;
    z-index: 0;
}